* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row,
.col-12,
.col-lg-6,
.col-sm-6,
.col-xs-6 {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    overflow-x: hidden;
}

.maincontainer {
    width: 100%;
    height: 3870px;
    background: #FFFFFF;
}

nav {
    width: 1223px;
    margin-top: 57px;
    padding-bottom: 26px;
    border-bottom: 1px solid #C4C4C4;
}

.nav-logo {
    height: 27px;
    width: 111px;
    left: 110px;
    top: 57px;
    border-radius: nullpx;

    /* font-family: Poppins; */
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #393939;
    align-content: center;
}

.nav-items button {
    height: 44px;
    width: 102px;
    left: 1076px;
    top: 47px;
    border-radius: 8px;
    padding: 10px 16px 10px 16px;
    margin-left: 50px;
    border: none;
}

.nav-items button span {
    height: 24px;
    width: 44px;
    left: 29px;
    top: 10px;
    border-radius: nullpx;
    /* font-family: Poppins; */
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

#l-in {
    background: #407F55;

}

#s-up {
    background: #FB9C46;

}

.navbarr {
    display: flex;
    align-items: center;
}

.nav-items li {
    text-decoration: none;
    list-style: none;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.nav-items a {
    position: relative;
    height: 24px;
    width: 65px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #393939;
    margin-left: 50px;
    transition: .3s;
}

.nav-items a::before {
    content: '';
    position: absolute;
    left: 15%;
    top: 0;
    width: 70%;
    height: 100%;
    border-bottom: 2px solid #FF922F;
    transform: scaleY(4);
    opacity: 0;
    transition: .5s;

}

.nav-items a:hover::before {
    color: #FF922F;
    transform: scaleY(2);
    margin-top: 4px;
    opacity: 1;

}

.nav-items li a:hover {
    color: #FF922F;
}

nav .active {
    color: #FF922F;
}

.navmobile i {
    height: 15px;
    width: 18px;
    font-size: 25px;
    color: #FB9C46;
}

.navmobile button {
    border: none;
    background: none;
}

@media only screen and (min-width: 500px) {
    .navmobile {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .maincontainer {
        width: 375px;
        height: 5685px;
        border-radius: 0px;

        padding: 0px 28px 0px 25px;
        background: #FFFFFF;
    }

    nav {
        margin-top: 34px;
        width: 322px;
    }

    .navbarr {
        position: absolute;
        top: 9%;
        right: -100%;
        width: 180px;
        height: 50vh;
        background: #058E6E;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        border-radius: 10px;
        transform: all .50s ease;
        display: grid;
        gap: 10px;
        z-index: 1;
    }

    .navbarr.open {
        right: 8%;
        transition: all 1s ease;
    }

    .navbarr li {
        margin-top: 10px;
    }

    .navbarr li a {
        margin: 0;
    color: #FFFFFF; 
    }
    .navbarr li a.active {
    color: #FF912E 
    }

    .navbarr li button {
        margin: 0;
    }

}

.section-one {
    margin-top: 33px !important;
    width: 1223px;

}

.section-one h5 {
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FB9C46;
}

.section-one .image-line {
    height: 0px;
    width: 136px;
    border: 1px solid #FF922F;
    margin-left: 24px;
}

.section-one h1 {
    height: 208px;
    width: 606px;
    font-size: 48px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0.035em;
    text-align: left;
    color: #000000;
}

.section-one .large-text-sone span {
    color: #FB9C46;
}

.paragraph-sone {
    height: 72px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C;
    margin-top: 44px;
    margin-bottom: 27px;
}

.section-one button {
    height: 62px;
    width: 290px;
    border-radius: 16px;
    padding: 10px 16px 10px 16px;
    background: #058E6E;
    box-shadow: 0px 85px 80px rgba(64, 127, 85, 0.08), 0px 25.625px 24.1177px rgba(64, 127, 85, 0.0521271), 0px 10.6433px 10.0172px rgba(64, 127, 85, 0.04), 0px 3.84948px 3.62304px rgba(64, 127, 85, 0.0278729);
    margin-top: 27px;
    margin-bottom: 66px;
    border: none;
}

.button-sone span {
    height: 24px;
    width: 132px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.section-one aside {

    border-radius: 0px;
    width: 553px;
    height: 666px;
    background-position: center;
    background-repeat: no-repeat;

}

.image-data {
    height: 625px;
    width: 462px;
    border-radius: 204px;
    background: linear-gradient(139.15deg, #F1C365 7.67%, #F6AE54 40.13%, #FF922F 59.18%);
    position: relative;

}

.image-data .laptop-image {
    height: 625px;
    width: 462px;
    border-radius: 204px;
}

.image-data-sone img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 3px solid #FFFFFF;
}

.japan {
    position: absolute;
    left: -10%;
    top: 17%;
}

.iran {
    position: absolute;
    top: 51%;
    right: -12%;
}

.china {
    position: absolute;
    top: 1%;
    right: 1%;
}

.image-data-sone .chart {
    height: 121px;
    width: 237px;
    border-radius: 21px;
    background: #FFFFFF;
    position: absolute;
    bottom: 11%;
    left: -32%;
    filter: drop-shadow(0px 4px 357px rgba(255, 146, 47, 0.15)) drop-shadow(0px 0.500862px 44.7019px rgba(255, 146, 47, 0.075));
}

.image-data-sone .chart-data {
    position: relative;
    height: 121px;
    width: 237px;
    border-radius: 21px;
}

.chart-data .online {
    height: 70%;
    width: auto;
    border-radius: 0px;
    border: none;
}

.chart-data .stock {
    position: absolute;
    top: -19px;
    left: -17px;
    height: 43px;
    width: 43px;
    border-radius: 2px;
    border: none;

}

.chart-data span {
    height: 27px;
    width: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    top: 55%;
    left: 71%;
}

@media only screen and (max-width: 500px) {

    .section-one {
        height: 950px;
        width: 325px;
        margin-top: 35px;
    }

    .section-one h1 {
        height: 223px;
        width: 325px;
        font-size: 32px;
        font-weight: 700;
        line-height: 51px;
        letter-spacing: 0.035em;
        text-align: left;

    }

    .paragraph-sone {
        height: 103px;
        width: 325px;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;

    }

    .button-sone button {
        Width: 239px;
        Height: 70px;
    }

    .section-one aside {
        height: 305px;
        width: 325px;


    }

    .image-data {
        height: 295px;
        width: 218px;
        border-radius: 204px;
        margin-right: 21px;
    }

    .image-data .laptop-image {
        height: 295px;
        width: 218px;

    }

    .image-data-sone img {
        border-radius: 50%;
        height: 51px;
        width: 51px;

        border: 3px solid #FFFFFF;
    }

    .image-data-sone .chart {

        height: 57px;
        width: 112px
    }

    .image-data-sone .chart-data {
        position: relative;
        height: 57px;
        width: 112px;
        border-radius: 21px;
    }

    .chart-data .stock {
        height: 20px;
        width: 20px;
        left: -6%;
        top: -30%;
    }

    .chart-data span {
        top: 47%;
        left: 67%;
        height: 13px;
        width: 17px;
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;

    }

}

.section-two {
    width: 1223px;
    border-radius: 0px;
    margin-top: 85px;
}

.section-two aside {
    width: 600px;
}

.section-two h4 {
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FB9C46;

}

.image-line {
    margin-left: 15px;
    height: 0px;
    width: 178px;
    background: #FF922F;
    border: 1px solid #FF922F
}

.section-two h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0.035em;
    text-align: left;
    color: #393939;

    border-radius: nullpx;

}

.section-two p {
    height: 82px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C;

}

.stwo-flags img {
    height: 53px;
    width: 53.5px;
    border-radius: 50%;
    margin-right: 11px;
    box-shadow: #C4C4C4 0 0 5px 1px;
}

.last-f-flags {
    display: grid;
    gap: 25px;
}

.view-all-btn button {
    height: 25px;
    width: 75px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FB9C46;
    background: none;
}

.view-all-btn img {
    height: 11.67px;
    width: 14px;
    border-radius: none !important;
    color: #FB9C46;
    box-shadow: none;

}

@media only screen and (max-width: 500px) {

    .section-two {
        height: 414px;
        width: 325px;
        flex-direction: column;
        margin-top: 69px !important;
    }

    .section-two aside {
        width: 300px;
    }

    .section-two h2 {
        height: 50px;
        width: 274px;
        font-size: 30px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.035em;
        text-align: left;
    }

    .image-line {
        width: 92px;
    }

    .stwo-flags {
        display: flex;
        flex-direction: column;
        display: grid;
        gap: 25px;
    }

    .section-two p {
        height: 124px;
    }

    .stwo-flags img {
        height: 45px;
        width: 45px;
        margin-right: 36px;

    }

    .stwo-flags .japan-flag {
        height: 45px !important;
        width: 45px !important;
    }

    .flag-dot {
        height: 16px !important;
        width: 16px !important;
    }

    .last-f-flags {
        gap: 0px;
    }

    .view-all-btn img {
        height: 11.67px;
        width: 14px;
        margin-right: 0px;
    }

    .view-all-btn {
        height: 25px;

    }

}

.section-three {
    margin-top: 125px !important;
    height: 515px;
    width: 1223px;

}

.section-three h3 {
    /* margin-top: 55px; */
    font-size: 36px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0.035em;
    text-align: left;
    color: #000000;

}

.section-three p {
    height: 138px;
    width: 509px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C;

}

.section-three .book-btn {
    height: 61px;
    width: 199px;
    border-radius: 16px;
    padding: 10px 16px 10px 16px;
    background: #FB9C46;

    box-shadow: 0px 0.5008620619773865px 44.70193862915039px 0px #FF922F13;

    box-shadow: 0px 4px 357px 0px #FF922F26;
    border: none;
    margin-right: 38px;

}

.book-btn span {
    height: 24px;
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.section-three .find-btn {
    height: 61px;
    width: 199px;
    left: 347px;
    top: 1501px;
    border-radius: 16px;
    padding: 10px 16px 10px 16px;
    border: 3px solid #FB9C46;
    background: none;
}

.find-btn span {
    height: 24px;
    width: 131px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FB9C46;

}

.section-three aside {
    height: 515px;
    position: relative;
}

aside .borderr {
    height: 497px;
    width: 497px;
    position: absolute;
    z-index: 0;
}

.glasses-bg {
    height: 386px;
    width: 386px;
    border-radius: 50%;
    background: #F0D9CA;
    position: absolute;
    z-index: -1;
}

.glasses-img {
    height: 497px;
    width: 497px;
    border-radius: 50%;
    overflow: hidden !important;
    border: 5px solid #FF922F80;
}

.glasses-img img {
    height: 487px;
    width: 358px;

}

.lessons {
    height: 83px;
    width: 129px;
    padding: 2%;
    left: -11%;
    top: 22%;
    position: absolute;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: #C4C4C4 0 0 5px 1px;

}

.s2-round-imgs {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: linear-gradient(0deg, #F6F6F6, #F6F6F6),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 3px solid #FFFFFF;
    box-shadow: #C4C4C4 0 0 5px 1px;

}

.documentt {
    position: absolute;
    right: 65%;
    top: -2%;
}


.verified {
    position: absolute;
    right: 4%;
    bottom: 15%;
}

.img-1 {
    position: absolute;

    right: 8%;
    top: 9%;
}

.img-2 {
    position: absolute;

    left: 1%;
    bottom: 22%;
}

@media only screen and (max-width: 500px) {
    .section-three {
        margin-top: 70px;
        height: 680px;
        width: 325px;

    }

    .section-three h3 {
        margin-top: 0px;
        height: 138px;
        width: 333px;
        font-size: 30px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.035em;
        text-align: left;
    }

    .section-three p {
        margin-top: 23px;
        height: 138px;
        width: 284px;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;


    }

    .section-three .book-btn {
        height: 47px;
        width: 153px;
        padding: 0 !important;

    }

    .book-btn span {
        height: 18px;
        /* width: 112px; */
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;


    }

    .section-three .find-btn {
        height: 47px;
        width: 152px;
        padding: 0 !important;

    }

    .find-btn span {
        height: 18px;
        /* width: 99px; */
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;


    }

    .section-three aside {
        height: 365px;
        position: relative;
    }

    aside .borderr {
        height: 289px;
        width: 289px
    }

    .glasses-bg {
        height: 225px;
        width: 225px;
    }

    .glasses-img {
        height: 289px;
        width: 289px;
    }

    .glasses-img img {
        height: 312px;
        width: 208px;
    }

    .lessons {
        height: 48px;
        width: 75px;

    }

    .s2-round-imgs {
        height: 34px;
        width: 34px;
    }

    /* .documentt {
        position: absolute;
    
        right: 307px;
        bottom: 455px;
    }
    
    .verified {
        position: absolute;
    
        right: 20px;
        bottom: 75px;
    }
    
    .img-1 {
        position: absolute;
    
        right: 33px;
        top: 49px;
    }
    
    .img-2 {
        position: absolute;
    
        right: 432px;
        bottom: 101px;
    } */
}

.section-four {
    margin-top: 88px !important;
    height: 523px;
    width: 1223px;

}

.section-four section {
    height: 523px;
    width: 568px;
    border-radius: 0px;
    position: relative;

}

.girl-bg {
    height: 430px;
    width: 430px;
    border-radius: 49px;

    margin: 93px 104px 0px 34px;
    background: #EFD8C9;
}

.girl-bg img {
    height: 512px;
    width: 487px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
}

.secfour-aside-data h1 {
    height: 70px;
    width: 407px;
    font-size: 36px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0.035em;
    text-align: left;
    color: #393939;
}

.secfour-aside-data span {
    color: #058E6E;
}

.secfour-aside-data h3 {
    height: 72px;
    width: 497px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C;
    margin-bottom: 10px;
}

.rectangle-s4 {
    height: 104px;
    width: 497px;
    box-shadow: 0px -2px 128px 0px #058E6E24;
    background: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-s4 img {
    height: 43px;
    width: 43px;
    border-radius: 0px;
    margin: 0px 29px 0px 22px;
}

.rectangle-s4 h4 {
    height: 22px;
    width: 383px;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #393939;

}

.rectangle-s4 li {
    height: 40px;
    width: 364px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #8D8D8D;
}

.rectangle-s4 button {
    border: none;
    color: #058E6E;
    background: none;
}

@media only screen and (max-width: 500px) {
    .section-four {
        height: 876px;
        width: 323px;
        margin-top: 77px !important;
        display: flex;
        flex-direction: column-reverse;
    }

    .section-four section {
        height: 327px;
        width: 355px;

        position: relative;

    }

    .girl-bg {
        height: 268px;
        width: 268px;
        border-radius: 49px;
        margin: 58px 65px 0px 21px;
        background: #EFD8C9;
    }

    .girl-bg img {
        height: 320px;
        width: 304px;
        border-radius: 0px;
    }

    .secfour-aside-data h1 {
        height: 70px;
        width: 316px;
        font-size: 30px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.035em;
        text-align: left;

    }

    .secfour-aside-data h3 {
        height: 72px;
        width: 313px;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: right;

    }

    .rectangle-s4 {
        width: 325px;
        height: 110px;
        background: #FFFFFF;
        box-shadow: 0px -2px 128px rgba(5, 142, 110, 0.14);
        border-radius: 16px;

        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rectangle-s4 img {
        height: 28px;
        width: 28px;
        border-radius: 0px;
        margin: 0px 19px 0px 15px;
    }

    .rectangle-s4 h4 {
        height: 15px;
        width: 263px;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    .rectangle-s4 li {
        height: 34px;
        width: 227px;
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

    }

    .rectangle-s4 button {
        border: none;
        color: #058E6E;
        background: none;
    }
}

.section-five {
    margin-top: 111px !important;
    width: 1223px;
    height: 487px;

}

.section-five h1 {
    height: 70px;
    width: 586px;
    font-size: 36px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0.035em;
    text-align: left;
    color: #393939;
}

.section-five span {
    color: #FB9C46;
}

.section-five p {
    height: 89px;
    width: 629px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C;
    margin-bottom: 30px;

}

.rect-s5 {
    height: 86px;
    width: 600px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0.5008620619773865px 44.70193862915039px 0px #FF922F13;

    box-shadow: 0px 4px 357px 0px #FF922F26;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.rect5-img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #FB9C46;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px 35px 23px 23px;
}

.rect5-img img {
    height: 50%;
    width: auto;
}

.rect-s5-text {
    height: 47px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #393939;
}

.rect-s5-text h5 {
    height: 47px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #393939;
}

.aside-data-s5 {
    height: 414px;
    width: 497px;
    border-radius: 33px;
    position: relative;
    background: linear-gradient(0deg, rgba(77, 77, 77, 0.49), rgba(77, 77, 77, 0.49)), url(imgaehomepage/unsplash_1LyBcHrH4J8s5-image.png), #F0D9CA;
    background-size: cover;
    background-repeat: no-repeat;
}

.video-icon {
    height: 66px;
    width: 66px;
    border-radius: 50px;
    border: 2px solid #FFFFFF
}

.tri-angle {
    position: absolute;
    height: 209px;
    width: 258.5px;
    right: -20px;
    bottom: -52px;
    border-radius: 15px;
}

@media only screen and (max-width: 500px) {
    .section-five {
        margin-top: 65px !important;
        width: 325px;
        height: 800px;

    }

    .section-five h1 {
        height: 70px;
        width: 330px;
        font-size: 30px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.035em;
        text-align: left;

    }


    .section-five p {
        height: 89px;
        width: 310px;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;


    }

    .rect-s5 {
        height: 70px;
        width: 325px;
    }

    .rect5-img {
        height: 30px;
        width: 30px;
        margin: 15px 22px 25px 14px;
    }

    .rect-s5-text {
        height: 48px;
        width: 279px;

    }

    .rect-s5-text h5 {
        height: 48px;
        font-size: 10px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #393939;
    }

    .aside-data-s5 {
        height: 259px;
        width: 311px
    }

    .video-icon {
        height: 41px;
        width: 41px;
    }

    .tri-angle {
        height: 131px;
        width: 162px;

    }
}

.section-six {
    margin-top: 104px !important;
    height: 380px;
    width: 1223px;
    border-radius: 0px;

}

.section-six h1 {
    height: 104px;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #FB9C46;
    margin-bottom: 32px;
}

.section-six p {
    height: 64px;
    width: 529px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #90A3B4;

}

.section-six span {
    height: 169px;
    width: 49px;
    font-size: 130px;
    font-weight: 400;
    line-height: 169px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #FB9C46;

}

.aside-s6-data {
    height: 204px;
    width: 442px;
    border-radius: 0px;
}

.aside-s6-data .star img {
    height: 18px;
    width: 122px;
    margin-top: 52px;
    margin-bottom: 14px;
}

.aside-s6-data h5 {
    height: 96px;
    width: 442px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #90A3B4;
    margin-bottom: 20px;

}

.crousal-s6 img {
    height: 56px;
    width: 56px;
}

.cr-text {
    margin-left: 15px;
}

.cr-text h2 {
    height: 24px;
    width: 151px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #FB9C46;

}

.cr-text p {
    height: 28px;
    width: 290px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #90A3B4;

}

.section-six button {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #FB9C46;
    margin-top: 238px;
    border: none;
}

.cr-indicators {
    height: 20px;
    width: auto;

    margin-top: 20px;
    padding: 0 !important;
}

.cr-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 8px;
    list-style: none;
    background: #E2ECF4;

}

@media only screen and (max-width: 500px) {
    .section-six {
        margin-top: 100px !important;
        height: 640px;
        width: 325px;
    }

    .section-six h1 {
        height: 156px;
        width: 253px;
        font-size: 30px;
        font-weight: 600;
        line-height: 52px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
        margin-bottom: 32px;
    }

    .section-six p {
        height: 64px;
        width: 294px;
        font-size: 12px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;


    }

    .section-six span {
        height: 88px;
        font-size: 60px;
        font-weight: 400;
        line-height: 78px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;


    }

    .aside-s6-data {
        height: 204px;
        width: 270px;
        border-radius: 0px;

    }

    .aside-s6-data .star img {
        height: 13px;
        width: 80px;
        margin-top: 20px;
        margin-bottom: 14px;
    }

    .aside-s6-data h5 {
        height: 94px;
        width: 265px;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 20px;
        ;
    }

    .crousal-s6 img {
        height: 37px;
        width: 37px;
    }

    .cr-text {
        margin-left: 15px;
    }

    .cr-text h2 {
        height: 23px;
        width: 119px;
        font-size: 10px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;


    }

    .cr-text p {
        height: 27px;
        width: 202px;
        font-size: 8px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;


    }

    .section-six button {
        height: 19px;
        width: 19px;
        margin-top: 180px;
    }

    .cr-indicators {
        height: 20px;
        width: auto;

        margin-top: 24px;
        padding: 0 !important;
    }

    .cr-indicators li {
        height: 6px;
        width: 6px;
        margin-right: 12px;

    }
}

.section-seven {
    margin-top: 114px;
    height: 379px;
    width: 1223px;
    border-radius: 8px;
    background: #F2BF62;
}

.seven-inside {
    height: 379px;
    width: 1160px;
    border-radius: 8px;
    background: linear-gradient(270.04deg, #F1BF62 0.05%, #FF912E 97.84%);
}

.seven-circles {
    height: 360px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
}

.seven-sec-data .seven-data {
    margin-left: 76px;
}

.s-seven-text h1 {
    height: 139px;
    width: 396px;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #FFFFFF;

}

.s-seven-text h5 {
    height: 33px;
    width: 285px;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #FFFFFF;

}

.s-seven-images img {
    height: 39px;
    width: 144px;
    border-radius: 0px;
    margin-right: 15px;

}

.s-seven-images a {
    height: 34px;
    width: 87px;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #FFFFFF;
}

.seven-aside-data button {
    height: 60px;
    width: 259px;
    border-radius: 4px;
    background: #FFFFFF;
    margin-right: 96px;
    border: none;
}

.seven-aside-data span {
    height: 22px;
    width: 223px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    color: #FB9C46;

}

.circlee {
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    opacity: 0.2;
}

.crc-1 {
    height: 154.23976135253906px;
    width: 154.23976135253906px;
    position: absolute;

    top: 90%;
    left: 94%;
}

.crc-2 {
    height: 272.8857421875px;
    width: 272.8857421875px;
    position: absolute;
    top: 75%;
    left: 90%;


}

.crc-3 {
    height: 363.0566711425781px;
    width: 363.0566711425781px;
    position: absolute;
    top: 61%;
    left: 85%;
}

.crc-4 {
    height: 484.07550048828125px;
    width: 484.07550048828125px;
    position: absolute;
    top: 45%;
    left: 80%;

}

.crc-5 {
    height: 600.92138671875px;
    width: 600.92138671875px;
    position: absolute;
    top: 24%;
    left: 75%;

}

.crc-6 {
    height: 724.0267944335938px;
    width: 724.0267944335938px;
    position: absolute;
    top: 2%;
    left: 70%;
}

.crc-7 {
    height: 724.0267944335938px;
    width: 724.0267944335938px;
    position: absolute;
    top: -16%;
    left: 65%;

}

@media only screen and (max-width: 500px) {
    .section-seven {
        margin-top: 66px;
        height: 510px;
        width: 375px;
        border-radius: 8px;
    }

    .seven-inside {
        height: 510px;
        width: 375px;
    }

    .seven-sec-data .seven-data {
        margin-left: 0px;
    }

    .seven-circles {
        flex-direction: column;
        justify-content: center !important;
        height: 510px;
        width: 375px;
    }

    .s-seven-text h1 {
        height: 119px;
        width: 325px;
        font-size: 30px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
    }

    .s-seven-text h5 {
        height: 33px;
        width: 285px;
        font-size: 12px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;
    }

    .s-seven-images img {
        height: 38px;
        width: 144px;
        border-radius: 0px;
        margin-right: 15px;

    }

    .s-seven-images a {
        height: 34px;
        width: 87px;
        font-size: 12px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.30000001192092896px;
        text-align: left;

    }

    .seven-aside-data button {
        margin-right: 78px;
        margin-top: 62px;
    }

    .crc-1 {
        height: 154.23976135253906px;
        width: 154.23976135253906px;
        position: absolute;

        top: 90%;
        left: 94%;
    }

    .crc-2 {
        height: 272.8857421875px;
        width: 272.8857421875px;
        position: absolute;
        top: 78%;
        left: 89%;

    }

    .crc-3 {
        height: 363.0566711425781px;
        width: 363.0566711425781px;
        position: absolute;
        top: 73%;
        left: 77%;
    }

    .crc-4 {
        height: 484.07550048828125px;
        width: 484.07550048828125px;
        position: absolute;
        top: 63%;
        left: 63%;

    }

    .crc-5 {
        height: 600.92138671875px;
        width: 600.92138671875px;
        position: absolute;
        top: 54%;
        left: 44%;

    }

    .crc-6 {
        height: 724.0267944335938px;
        width: 724.0267944335938px;
        position: absolute;
        top: 46%;
        left: 22%;
    }

    .crc-7 {
        height: 724.0267944335938px;
        width: 724.0267944335938px;
        position: absolute;
        top: 42%;
        left: 5%;

    }
}

footer {
    margin-top: 126px;
    height: 621px;
    width: 1442px;
    border-radius: 0px;
    background: #F2BF62;
    padding-top: 88px;
    padding-bottom: 74px;
}

.social-media-fo h3 {
    height: 24px;
    width: 118px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.social-media-fo h5 {
    height: 54px;
    width: 263px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
    margin-right: 29px;
}

.desktop-fo-colmn {
    display: flex;
}

.f-icon img {
    height: 40px;
    width: 42px;
    border-radius: 2000px;
    margin-right: 8px;
    border: none;
}

.colm {
    height: 262px;
    width: 165px;
    border-radius: 0px;
    color: #FFFFFF;
    margin-right: 30px;
}

.colm h4 {
    height: 23px;
    width: 112px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 33px;
}

.colm h5 {
    height: 21px;
    width: 176px;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;

    margin-bottom: 25px;
}

footer p {
    height: 21px;
    width: 380px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

@media only screen and (max-width: 500px) {

    .desktop-fo-colmn {
        display: none !important;
    }

    footer {
        margin-top: 108px;
        height: 654px;
        width: 100%;
        border-radius: 0px;
        background: #F2BF62;

    }

    .footer-data {
        flex-direction: column;
        width: 100%;
    }

    .social-media-fo h3 {
        height: 36px;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
    }

    .social-media-fo h5 {
        height: 54px;
        width: 350px;
        font-size: 12px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        margin: 0 !important;
        padding: 0 !important;

    }

    .discover-more-fo {
        width: 100%;
    }

    .mobile-fo-rows {
        margin-top: 32px;
        margin-bottom: 60px;
    }

    .rows-fo {
        width: 100%;
        height: 45px;
        border-bottom: 1px solid #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rows-fo select h4 {
        height: 23px;
        width: 112px;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 33px;
    }

    .rows-fo h5 {
        height: 21px;
        width: 176px;
        font-size: 16px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: left;

        margin-bottom: 25px;
    }

    .rows-fo select {

        width: 85%;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        background: #F1BF62;
        border: none;
    }

    select:focus {

        outline: none !important;
    }

    footer p {
        height: 21px;
        width: 296px;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: center;


    }
}

@media only screen and (min-width: 500px) {
    .mobile-fo-rows {
        display: none;
    }
}